
.cabecalho {
    background-color: rgb(20, 20, 20);
    padding-bottom: 30px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    color: black;
}

.corpo {
    background-color: rgb(20, 20, 20);
    color: white;
}

.sobre_mim {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.445);
    text-shadow: 1px 1px 0px black;
    color: white;
}

.img_icon {
    width: 2.5em;
}

.final {
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: white;  
}

a{
    text-decoration: none;
    color: white;
}