.nav-link {
    color: black;
}

div#back {
    background-image: url(/img/backgroud.jpg);

}

div.backg {
    background-color: rgb(90, 85, 85);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.671);
    background-attachment: fixed;
}

.sobre_mim {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.445);
    text-shadow: 1px 1px 0px black;
}

.img_icon {
    width: 2.5em;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    
}

a{
    text-decoration: none;
    color: white;
}