@charset "UTF-8";

/*Para Celular*/

@media screen and (max-width: 768px) {
   
    /*HEADER*/

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    header #logo {
        width: 150px;
        margin-top: 5px;
    }

    header span {
        color: white;
    }

    span#burguer {
        font-size: 35px;
        padding: 5px;
        cursor: pointer;
        height: 24px;
        display: block;
        margin-right: 5px;
    }

    span#burguer:hover {
        background-color: rgba(0, 0, 0, 0.185);
        border-radius: 20px;
        cursor: pointer;
        padding: 5px;
        transition: 0.6s;
    }

    span#arrow {
        display: block;
        text-align: left;
        margin-left: 10px;
        margin-top: 5px;
        cursor: pointer;
        width: 30px;
        padding: 5px;
    }

    span#arrow:hover {
        background-color: rgba(0, 0, 0, 0.103);
        border-radius: 20px;
        cursor: pointer;
        padding: 5px;
        transition: 0.6s;
    }
    

    .navigation {
        display: none;
        background-color: rgba(0, 0, 0, 0.281);
        width: 50%;
        text-align: center;
    }

    .navigation ul li  {
        padding: 10px;
        margin-top: 20px;
    }

    .navigation ul li:hover {
        background-color: rgba(0, 0, 0, 0.253);
        transition: 0.6s;
    }

    .navigation ul li a {
        color: white;
    }

    .navigation ul li a.active {
        color: #00abf0;
    }

   /*HEADER*/

   /*SECTION*/
    .card {
        margin-bottom: 50px;
    }

   .topCard {
        display: flex;
        margin: auto;
        height: 300px;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 10px 10px 0px 0px;
    }
    
    .topCard img {
        display: flex;
        margin: auto;
        height: 250px;
        width: 250px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.555);
    }
    
    .botoomCard {
        display: flex;
        margin: auto;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 0px 0px 10px 10px;
    }
    
    .botoomCard h5.titleCertificacao{
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: #00abf0;
    }
    .botoomCard p.textExCertificacao {
        display: flex;
        
        justify-content: center;
        text-align: center;
        margin-top: 40px;
        color: white;
    }
    
    .botoomCard h5.titleAprendizado{
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        color: #00abf0;
    }
    
    .botoomCard .aprendizado li {
      display: flex;
      margin-left: 10px;
      margin-bottom: 15px;
      color: white;
      line-height: 25px;
      justify-content: center;
      text-align: left;
      line-height: 25px;
    }
    
    /*SECTION*/

    /*FOOTER*/

    .bacKgroudFooter {
        background-color: rgba(0, 0, 0, 0.267);
        width: 100vw;
        height: 45px;
        color: white;
        
    }
    
    .contatos p {
        margin-right: 10px;
    }

    .contatos {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .contatos img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    /*FOOTER*/
    
}



