@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*PARA CELULAR*/

@media screen and (max-width: 767px) {

    /*HEADER*/

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    header #logo {
        width: 150px;
        margin-top: 5px;
    }

    header span {
        color: white;
    }

    span#burguer {
        font-size: 35px;
        padding: 5px;
        cursor: pointer;
        height: 24px;
        display: block;
        margin-right: 5px;
    }

    span#burguer:hover {
        background-color: rgba(0, 0, 0, 0.185);
        border-radius: 20px;
        cursor: pointer;
        padding: 5px;
        transition: 0.6s;
    }

    span#arrow {
        display: block;
        text-align: left;
        margin-left: 10px;
        margin-top: 5px;
        cursor: pointer;
        width: 30px;
        padding: 5px;
    }

    span#arrow:hover {
        background-color: rgba(0, 0, 0, 0.103);
        border-radius: 20px;
        cursor: pointer;
        padding: 5px;
        transition: 0.6s;
    }
    

    .navigation {
        display: none;
        background-color: rgba(0, 0, 0, 0.281);
        width: 50%;
        text-align: center;
    }

    .navigation ul li  {
        padding: 10px;
        margin-top: 20px;
    }

    .navigation ul li:hover {
        background-color: rgba(0, 0, 0, 0.253);
        transition: 0.6s;
    }

    .navigation ul li a {
        color: white;
    }

    .navigation ul li a.active {
        color: #00abf0;
    }

    /*HEADER*/

    /*SECTION*/

    .card {
        margin-bottom: 50px;
    }
    
    .topCard {
        display: flex;
        margin: auto;
        height: 300px;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 10px 10px 0px 0px;
    }

    .topCard img {
        display: flex;
        margin: auto;
        height: 250px;
        width: 250px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.555);
    }
    
    .botoomCard {
        display: flex;
        margin: auto;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 0px 0px 10px 10px;
    }
    
    .botoomCard h5.titleFuncao{
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 10px auto;
        color: #00abf0;
    }
    
    .botoomCard p.textExperiencia {
        display: flex;
        text-align: center;
        margin-top: 40px;
        color: white;
    }
    
    .botoomCard h5.titleCompetencias{
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        color: #00abf0;
    }
    
    .botoomCard .competencias li {
        display: flex;
        margin-left: 10px;
        margin-bottom: 15px;
        color: white;
        line-height: 25px;
        justify-content: center;
        text-align: left;
        line-height: 25px;
    }
    
    /*SECTION*/
    
    /*FOOTER*/

    .bacKgroudFooter {
        background-color: rgba(0, 0, 0, 0.267);
        width: 100vw;
        height: 45px;
        color: white;
    }
    
    /*FOOTER*/
    
    
}

/*PARA TABLET*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*HEADER*/
    header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.411);
        width: 100vw;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);
    }
    
    #logo {
        width: 200px;
        margin-top: 10px;
    }
    
    #burguer {
        display: none;
    }
    
    #Menu {
        margin-right: 20px;
    }
    
    #Menu span {
        display: none;
    }
    
    #Menu ul {
        display: flex;
    }
    
    #Menu ul li a{
        display: flex;
        margin-top: 10px;
        color: white;
        text-decoration: none;
        padding: 15px;
    }
    
    #Menu ul li a.active {
        color: #00abf0;
        background: linear-gradient(to top, #00000042, #0a2335);
        border-radius: 20px 20px 0px 0px;
    }
    /*HEADER*/

    /*SECTION*/
    .card {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .topCard {
        display: flex;
        height: 500px;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 10px 0px 0px 10px;
    }

    .topCard img {
        margin: auto;
        height: 250px;
        width: 250px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.555);
    }

    .botoomCard {
        width: 400px;
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 0px 10px 10px 0px;
    }

    .botoomCard h5.titleFuncao{
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 10px auto;
        color: #00abf0;
    }

    .botoomCard p.textExperiencia {
        display: flex;
        text-align: center;
        margin-top: 40px;
        color: white;
    }

    .botoomCard h5.titleCompetencias{
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        color: #00abf0;
    }

    .botoomCard .competencias li {
        display: flex;
        margin-left: 10px;
        margin-bottom: 15px;
        color: white;
        line-height: 25px;
        justify-content: center;
        text-align: left;
        line-height: 25px;
    }
    /*SECTION*/

    /*FOOTER*/
    .bacKgroudFooter {
        bottom: 0;
        position: fixed;
        text-align: center;
        width: 100vw;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.267);
    }
    /*FOOTER*/ 
}

/*PARA DESKTOP*/

@media screen and (min-width: 992px) {

}